{% load static %}
<section class="ptb100" style="background-color: white;">
  <div class="wrap">
    <div class="one-col ptb100">
      <h1 class="c-black c-center t-center">Authentic mentors for life,<br> handpicked from across the<br> world:</h1>
    </div>
    <div class="mentors-slider slick-initialized slick-slider">
      <span class="slick-prev slick-arrow slick-disabled" aria-disabled="true" style="display: block;"></span>
      <div aria-live="polite" class="slick-list draggable" style="padding: 0px 50px;">
        <div class="slick-track" role="listbox" style="opacity: 1; width: 2940px; transform: translate3d(0px, 0px, 0px);">
          <div style="background-image: url('{% static 'img/blog1.png' %}'); width: 735px;" class="slick-slide slick-current slick-center" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">
            <div class="img" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
            <div class="txt">
              <h2 class="t-lyonL"><strong>Kellie Stweart (Australia)</strong></h2>
              <h3 class="mb20">Equinologist, Horse and Human Behavioral Specialist, Educator and International Speaker.</h3>
              <button class="c-white stroke-btn-4px" tabindex="-1">Get to know Kellie</button>
            </div>
          </div>
          <div style="background-image: url('{% static 'img/blog4.png' %}'); width: 735px;" class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01">
            <div class="img" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
            <div class="txt">
              <h2 class="t-lyonL"><strong>Kellie Stweart (Australia)</strong></h2>
              <h3 class="mb20">Equinologist, Horse and Human Behavioral Specialist, Educator and International Speaker.</h3>
              <button class="c-white stroke-btn-4px" tabindex="-1">Get to know Kellie</button>
            </div>
          </div>
          <div style="background-image: url({% static 'img/blog1.png' %}); width: 735px;" class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02">
            <div class="img" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
            <div class="txt">
              <h2 class="t-lyonL"><strong>Kellie Stweart (Australia)</strong></h2>
              <h3 class="mb20">Equinologist, Horse and Human Behavioral Specialist, Educator and International Speaker.</h3>
              <button class="c-white stroke-btn-4px" tabindex="-1">Get to know Kellie</button>
            </div>
          </div>
          <div style="background-image: url('{% static 'img/blog4.png' %}'); width: 735px;" class="slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03">
            <div class="img" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
            <div class="txt">
              <h2 class="t-lyonL"><strong>Kellie Stweart (Australia)</strong></h2>
              <h3 class="mb20">Equinologist, Horse and Human Behavioral Specialist, Educator and International Speaker.</h3>
              <button class="c-white stroke-btn-4px" tabindex="-1">Get to know Kellie</button>
            </div>
          </div>
        </div>
      </div>
      <span class="slick-next slick-arrow" style="display: block;" aria-disabled="false"></span>
    </div>
    <div class="one-col t-center mtb40">
      <a href="#" class="mb20 c-black block">
        <p>Visit the <strong>Consultants</strong> page to get a grasp of our networkof gifted individuals ➞</p>
      </a>
      <div class="listed-elements">
        <div class="small-profile-thumb-stroke" style="background-image: url('{% static 'img/profile4.png' %}')"></div>
        <div class="small-profile-thumb-stroke" style="background-image: url('{% static 'img/profile2.png' %}')"></div>
        <div class="small-profile-thumb-stroke" style="background-image: url('{% static 'img/profile3.png' %}')"></div>
      </div>
    </div>
  </div>
</section>
