{% load static %}
<section class="bg-dark-gray ptb100">
  <div class="wrap t-center">
    <div class="t-center">
      <h2 class="c-white t-lyon mb40">Events</h2>
    </div>
    <div class="one-col mb60">
    {% for event in events %}
      <div class="one-third columns card-event c-white">
        <div class="top" style="background-image: url('{{ event.cover_url }}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">
            <a href="{{event.url}}">
              {{ event.name }}
            </a>
          </h2>
          <p class="mb20">
            {{ event.subtitle|default:'<br>'|truncatewords:3}}
          </p>
          <p><strong>{{ event.begins_date|date:"F d, Y"}}</strong></p>
        </div>
      </div>
    {% empty %}
      <div class="two-third columns white-box c-white stroke-btn-4px">
        <h3>
          There are not upcoming events
        </h3>
      </div>
    {% endfor %}
    </div>
    <div class="one-col">
      <a href="/events/">
        <button class="c-white stroke-btn-4px">See Upcoming Events</button>
      </a>
    </div>
  </div>
</section>
