{% load static %}
<section class="bg-dark-gray ptb100">
  <div class="wrap t-center">
    <div class="t-center">
      <h2 class="c-white t-lyon mb40">Events Created by You</h2>
    </div>
    <div class="one-col mb60">
      <div class="one-third columns card-event c-white">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Transformation Cycle</h2>
          <p class="mb20">Learn about life cycles with the Universal Model designed by Demartini Institute.</p>
          <p><strong>June 30, 2017</strong></p>
        </div>
      </div>
      <div class="one-third columns card-event c-white">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
    </div>
    <div class="one-col">
      <a href="/events/">
        <button class="c-white stroke-btn-4px">See Upcoming Events</button>
      </a>
    </div>
  </div>
</section>
