<footer>
  <div class="wrap>">
    <div class="wrap ptb50">
      <div class="c-center t-center ptb100">
        <div class="med-wrap c-white mb40">
          <ul class="display-inline">
            <li class="col20 columns"><a href="#" class="c-black"><strong>About</strong></a></li>
            <li class="col20 columns"><a href="#" class="c-black"><strong>Consultants</strong></a></li>
            <li class="col20 columns"><a href="#" class="c-black"><strong>Events</strong></a></li>
            <li class="col20 columns"><a href="#" class="c-black"><strong>Philios</strong></a></li>
            <li class="col20"><a href="#" class="c-black"><strong>Bookings</strong></a></li>
          </ul>
        </div>
        <div class="c-center t-center c-black">© Fronesis 2015. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>
