{% load static %}

<div class="hero-image" style="background-image: url({% static 'img/blog1.png' %});">
  <div class="mask-black"></div>
  <div class="txt">
    <div class="two-col c-white">
      <h1 class="huge-txt t-lyonL">Final Practical Wisdom</h1>
      <p class="mb40"><strong>Fronesis consultants will push you to discover and break to whatever emotions and mental block are in the way of you manifesting your creativity.</strong></p>
      <button class="stroke-btn-4px c-center c-white">Learn about Fronesis</button>
    </div>
  </div>
</div>
