{% load static %}
<section style="background-color: white;">
  <div class="wrap">
    <div class="one-col ptb100">
      <h1 class="c-black c-center t-center">From the logs from our<br> consultants:</h1>
    </div>
    <div class="one-col t-center mb20">
      <div class="two-col columns img-card v-align-b">
        <a href="#">
          <img src="{% static 'img/event-featured.png' %}" alt="">
          <h2 class="t-lyonL mb10">The people that make me laugh.</h2>
          <p class="smaller-txt">NACHO LANDA - <span class="c-light-gray"> HUMAN BEHAVOIR SPECIALIST</span></p>
        </a>
      </div>
      <div class="two-col columns img-card v-align-b">
        <a href="#">
          <img src="{% static 'img/log1.png' %}" alt="">
          <h2 class="t-lyonL mb10">Collapsing through empathy with other species.</h2>
          <p class="smaller-txt">NACHO LANDA - <span class="c-light-gray"> HUMAN BEHAVOIR SPECIALIST</span></p>
        </a>
      </div>
    </div>
    <div class="one-col t-center mb20">
      <div class="two-col columns img-card v-align-b">
        <a href="#">
          <img src="{% static 'img/blog1.png' %}" alt="">
          <h2 class="t-lyonL mb10">The people that make me laugh.</h2>
          <p class="smaller-txt">NACHO LANDA - <span class="c-light-gray"> HUMAN BEHAVOIR SPECIALIST</span></p>
        </a>
      </div>
    </div>
  </div>
</section>
