{% extends 'base.html' %}
{% load account %}


{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block EXTRA_STYLE %}
  {{block.super}}
  <style>
  #id_login, #id_password{
    padding: 15px 10px;
  }

  #id_login::-webkit-input-placeholder
  , #id_password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1f1f20;
  }
  #id_login::-moz-placeholder
  , #id_password::-moz-placeholder { /* Firefox 19+ */
    color: #1f1f20;
  }
  #id_login:-ms-input-placeholder
  , #id_password:-ms-input-placeholder { /* IE 10+ */
    color: #1f1f20;
  }
  #id_login:-moz-placeholder
  , #id_password:-moz-placeholder { /* Firefox 18- */
    color: #1f1f20;
  }

  #submit{
    padding: 15px 10px;
  }
  </style>
{% endblock %}

{% block CONTENT %}
<div class="c-center t-center">
  <div class="med-wrap ptb100 c-white">
    <form method="post">
      {% csrf_token %}
      <div class="one-col">
        <div class="heading-separator mb40">
          <h2 class="t-lyonL">Login</h2>
        </div>
      {% if form.errors %}
        <div class="big-box gray-border-box alert-notification">
          <ul>
          {% if form.non_field_errors %}
            <li>
              {{form.non_field_errors}}
            </li>
          {% endif %}
          {% for error in form.errors %}
            <li>

            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
        <div class="one-col p20">
          <div class="two-col columns">
            <label for="{{ form.login.id_for_label }}" class="dark-label mb20" style="color:white;">{{ form.login.label|upper }}</label>
            <input type="email" id = "{{ form.login.id_for_label }}" name = "{{ form.login.html_name }}" value = "{{ form.login.value|default:'' }}" class="border-bottom-input two-col columns auth-form" placeholder="Email Address" required>
          </div>
        </div>
        <div class="one-col p20">
          <div class="two-col columns">
            <label for="{{ form.password.id_for_label }}" class="dark-label mb20" style="color:white;">{{ form.password.label|upper }}</label>
            <input type="password" id = "{{ form.password.id_for_label }}" name = "{{ form.password.html_name }}" value = "{{ form.password.value|default:'' }}" class="border-bottom-input two-col columns auth-form" placeholder="Password" required>
          </div>
        </div>
      </div>
      <div class="one-col p20">
        <div class="submit-wrapper two-col columns">
          <button class="stroke-btn-gray" id="submit">
            Login
          </button>
        </div>
      </div>
      <div class="one-col p20 c-white t-center">
        <a href="{% url 'account_reset_password' %}" class="c-white">I forgot my password</a>
        |
        <a href="{% url 'account_signup' %}" class="c-white">How do I get an account?</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
