{% extends 'base.html' %}
{% load account %}


{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block EXTRA_STYLE %}
  {{block.super}}
  <style>
  #id_email{
    padding: 15px 10px;
  }

  #submit{
    padding: 15px 10px;
  }
  </style>
{% endblock %}

{% block CONTENT %}

<div class="c-center t-center">
  <div class="med-wrap ptb100 c-white">
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      <div class="one-col">
        <div class="heading-separator mb40">
          <h2 class="t-lyonL">Password Reset</h2>
        </div>
      {% if form.errors %}
        <div class="big-box gray-border-box alert-notification">
          <ul>
          {% if form.non_field_errors %}
            <li>
              {{form.non_field_errors}}
            </li>
          {% endif %}
          {% for error in form.errors %}
            <li>

            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
        <div class="one-col p20">
          <div class="two-col columns">
            <label for="{{ form.email.id_for_label }}" class="dark-label mb20" style="color:white;">{{ form.email.label|upper }}</label>
            <input id="id_email" name="email" placeholder="E-mail address" size="30" type="email" required="" class="auth-form">
          </div>
        </div>
      <div class="one-col p20">
        <div class="submit-wrapper two-col columns">
          <button class="stroke-btn-gray">
            Login
          </button>
        </div>
      </div>
      <div class="one-col p20 c-white t-center">
        <a href="{% url 'account_reset_password' %}" class="c-white">I forgot my password</a>
        |
        <a href="{% url 'account_signup' %}" class="c-white">How do I get an account?</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
