{% extends 'base.html' %}
{% load account %}


{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block CONTENT %}

<div class="c-center t-center">
  <div class="med-wrap ptb100 c-white">
      <div class="one-col">
        <div class="heading-separator mb40">
          <h2 class="t-lyonL">Change Password</h2>
        </div>
        <div class="one-col p20">
          <div class="two-col columns two-col columns">
            <p>
              Your password is now changed.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
