<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <meta name="theme-color" content="#000000">
      <link rel="manifest" href="/manifest.json">
      <link rel="shortcut icon" href="/favicon.ico">
      <title>React App</title>
      <link href="/static/css/main.af5e72a8.css" rel="stylesheet">
   </head>
   <body>
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="root" data-token="c41e3e6bb8f79d952252fd8ec8b87329b79fd8f9"></div>
      <script type="text/javascript" src="/static/js/main.bb02a7ab.js"></script>
   </body>
</html>
