{% extends 'user-view.html' %}
{% load static %}

{% block SECTION_MENU %}
<li {% if calendar == True %}class="active"{% endif %}>
  <a href="{% url 'booking:calendar_view' %}">Calendar View</a>
</li>
<li {% if history == True %}class="active"{% endif %}>
  <a href="{% url 'booking:history' %}">Appointments History</a>
</li>
<li {% if clients == True %}class="active"{% endif %}>
  <a href="{% url 'booking:clients' %}">Your Clients</a>
</li>
<li {% if bundles == True %}class="active"{% endif %}>
  <a href="{% url 'booking:bundles' %}">Active Bundles</a>
</li>
{% endblock %}


{% block CONTENT %}
 {{ block.super }}
{% endblock %}
