{% extends 'user-view.html' %}
{% load static %}

{% block SECTION_MENU %}
<li {% if calendar == True %}class="active"{% endif %}>
  <a href="{% url 'coaches:contact_information' %}">Calendar View</a>
</li>
<li {% if history == True %}class="active"{% endif %}>
  <a href="{% url 'coaches:blocked_hours' %}">Appointments History</a>
</li>
<li {% if clients == True %}class="active"{% endif %}>
  <a href="{% url 'coaches:booking_settings' %}">Your Clients</a>
</li>
<li {% if bundles == True %}class="active"{% endif %}>
  <a href="{% url 'coaches:my_venues' %}">Active Bundles</a>
</li>
{% endblock %}


{% block CONTENT %}
 {{ block.super }}
{% endblock %}
