{% extends 'booking_base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}

<section class="pb100">
   <div class="wrap hidden">
      <div class="two-col columns">
         <h3 class="c-light-gray">Hello Nacho</h3>
         <h1 class="t-lyon c-gray mb20">Here are your appointments for the day.</h1>
         <button class="stroke-btn block mb20">Book a New Meeting</button>
         <button class="stroke-btn block">Create an Event</button>
      </div>
      {% include 'calendar_today.html' %}
   </div>
</section>
{% include 'calendar_week.html' %}

{% endblock %}
{% block SCRIPT %}
{{block.super}}
<script>
  $(document).ready(function(){
      var add_appointment = $(this).find('button#add_appointment');
      var add_appoinment_modal_form = $(this).find('#add_appoinment_modal_form');
      $(add_appointment).click(function(){
        $(add_appoinment_modal_form).dialog();
      });
  });
</script>
{% endblock %}
