<section class="pb100">
   <div class="wrap">
      <div class="six-col-slider carrousel slider-container slick-initialized slick-slider">
         <div class="slider-nav-container">
            <div class="arrow-container">
               <span class="slick-prev slick-arrow" style="display: inline-block;"></span>
               <p>Your Week</p>
               <span class="slick-next slick-arrow" style="display: inline-block;"></span>
            </div>
         </div>
         <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" role="listbox" style="opacity: 1; width: 3648px; transform: translate3d(-1152px, 0px, 0px);">
              <div class="slider-item slick-slide slick-cloned" data-slick-index="{{forloop.counter}}" aria-hidden="true" tabindex="-6" role="option" aria-describedby="slick-slide12" style="width: 192px;"></div>
              <div class="slider-item slick-slide slick-cloned" data-slick-index="{{forloop.counter}}" aria-hidden="true" tabindex="-5" role="option" aria-describedby="slick-slide12" style="width: 192px;"></div>
              <div class="slider-item slick-slide slick-cloned" data-slick-index="{{forloop.counter}}" aria-hidden="true" tabindex="-4" role="option" aria-describedby="slick-slide12" style="width: 192px;"></div>
              <div class="slider-item slick-slide slick-cloned" data-slick-index="{{forloop.counter}}" aria-hidden="true" tabindex="-3" role="option" aria-describedby="slick-slide12" style="width: 192px;"></div>
              <div class="slider-item slick-slide slick-cloned" data-slick-index="{{forloop.counter}}" aria-hidden="true" tabindex="-2" role="option" aria-describedby="slick-slide12" style="width: 192px;"></div>
              <div class="slider-item slick-slide slick-cloned" data-slick-index="{{forloop.counter}}" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 192px;"></div>
            {% for day in week %}
               <div class="slider-item slick-slide slick-active" data-slick-index="{{forloop.counter}}" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 192px;">
               {% for appointment in day.appointments %}
                  <div class="listed-event">
                  {% if forloop.first %}
                    <h3>{{ day.day|date:'D d' }}</h3>
                  {% endif %}
                     <div class="description">
                        <p class="t-lyon c-gray">{{appointment.starts_datetime|time:'P'}}</p>
                        <p class="c-aqua">{{appointment.client_name}}</p>
                        <p class="t-proxima c-light-gray">{{appointment.service_name}}</p>
                        <p class="t-proxima c-light-gray">@ {{appointment.venue_name}}</p>
                     </div>
                  </div>
               {% empty %}
                  <div class="listed-event">
                    <h3>{{ day.day|date:'D d' }}</h3>
                  </div>
               {% endfor %}
               </div>
            {% endfor %}
            </div>
         </div>
      </div>
   </div>
</section>
