<div class="two-col columns">
  <div class="one-col-slider carrousel slider-container slick-initialized slick-slider">
    <div class="slider-nav-container">
      <div class="arrow-container">
        <a href="{% url 'booking:calendar_view' %}?date={{prev}}">
          <span class="slick-prev slick-arrow" style="display: inline-block;"></span>
        </a>
        <p>{{ date|date:'l, F jS' }}</p>
        <a href="{% url 'booking:calendar_view' %}?date={{next}}">
          <span class="slick-next slick-arrow" style="display: inline-block;"></span>
        </a>
      </div>
    </div>
    <div aria-live="polite" class="slick-list draggable">
      <div class="slick-track" role="listbox" style="opacity: 1; width: 2710px; transform: translate3d(-542px, 0px, 0px);">
        <div class="slider-item slick-slide slick-cloned" style="width: 542px;">
        </div>
        <div class="slider-item slick-slide slick-current slick-active" style="width: 542px;">
          <p class="date f-right c-light-gray mt20">

          </p>
        {% for appointment in today %}
          <div class="listed-event">
            <div class="type">
              <div class="event-type-cir bg-aqua">A</div>
            </div>
            <div class="description">
              <p class="t-lyon c-light-gray">
                <span class="c-black">{{appointment.starts_datetime_local|time:'P'}}</span> - {{appointment.venue_name}}
              {% if appointment.google_calendar_url %}
                <a href="{{appointment.google_calendar_url}}" target="_blank">
                  <img class="google-calendar-icon" src="https://www.gstatic.com/images/branding/product/1x/calendar_64dp.png">
                </a>
              {% endif %}
              </p>
              <p class="t-proxima c-gray"><strong>{{appointment.service_name}}</strong> with <strong>{{appointment.client_name}}</strong></p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
