<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <p>
    Dear: <strong>{{appointment.client.full_name}}</strong>
  </p>
  <p>
    You have an appointment with <strong>{{appointment.coach.get_full_name|default:appointment.coach.email}}</strong> at
    <strong>{{appointment.venue_name}}</strong>  for <strong>{{appointment.service_name}}</strong>.

    The appointment begins <strong>{{appointment.starts_datetime_local|date:'r'}</strong> and ends  <strong>{{appointment.ends_datetime_local|date:'r'}</strong>
  </p>
</body>
</html>
