{% extends 'user-view.html' %}
{% load static %}

{% block SECTION_MENU %}
<li {% if contact == True %}class="active"{% endif %}>
  <a href="{% url 'coaches:contact_information' %}">Contact Information</a>
</li>
<li {% if blocked == True %}class="active"{% endif %}>
  <a href="{% url 'coaches:blocked_hours' %}">Blocked Hours</a>
</li>
<li {% if settings == True %}class="active"{% endif %}>
  <a href="{% url 'coaches:booking_settings' %}">Booking Settings</a>
</li>
<li {% if venues == True %}class="active"{% endif %}>
  <a href="#">My Venues</a>
</li>
{% endblock %}


{% block CONTENT %}
 {{ block.super }}
{% endblock %}
