{% extends 'coach_clean_base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}
  <div class="gray-notification">
    <div class="wrap">
      <a href="{% url 'coaches:community' %}" class="clear-link" style="color:#A1A1A1;">
        <p><span class="left-arrow"></span> Back to all coaches</p>
      </a>
    </div>
  </div>
  <section>
    <div class="wrap mt60 mb60">
      <div class="table">
        <div class="one-third table-cell-desktop columns">
          <div class="profile-square">
            <div class="profile-square">
              <div class="img" style="background-image: url('{{coach.avatar}}')">
                <div class="labels">
                  <div class="c-white smaller-txt bg-wine">{{coach.current_city|default:''}}</div>
                  <div class="smaller-txt bg-white t-lyonL c-black">Coach</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="one-third table-cell-desktop columns">
          <div class="v-align-t pb60">
            <h2 class="t-lyon">{{coach.full_name}}</h2>
            <h2 class="c-light-gray">{{coach.specialty|default:'No Specialty'}}</h2>
          </div>
          <div class="absolute-bottom-desktop t-lyon">
            <p class="c-gray">{{coach.job_title|default:'No Job Title'}}</p>
            <p class="c-light-gray">{{coach.current_city|default:''}}A</p>
          </div>
        </div>
        <div class="one-third table-cell-desktop columns">
          <p class="c-gray mb20"><strong>Short Bio</strong></p>
          <p class="c-gray">
            {{coach.short_bio}}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="tabs-container-white">
    <div class="wrap pb60">
      <ul class="tabs-menu">
        <li class="current"><a href="#tab-1">Sessions</a></li>
        <li class=""><a href="#tab-2">Bundles</a></li>
        <li class=""><a href="#tab-3">Philios</a></li>
        <li class=""><a href="#tab-4">Events</a></li>
      </ul>

      <div class="tab">
        <!-- sessions -->
        {% include 'snippet/coach_service_list.html' with session_list=coach.services.all %}

        <!-- bundles -->
        <div id="tab-2" class="tab-content" style="display: none;">
          <div class="one-col border-bottom-gray ptb20">
            <div class="one-third columns">
              <h3 class="c-gray t-lyon line-clamp-x1">Business Transformation for Entrepreneur</h3>
              <p class="c-gray smaller-txt line-clamp-x1">Special cycle for business owners (solo or groups)</p>
            </div>
            <div class="one-third right-dir columns">
              <p class="c-gray">8 h / $30,000 MXN</p>
              <p class="c-bright-green smaller-txt">Available online</p>
            </div>
            <div class="one-third right-dir columns">
              <button class="btn-black btn-x1">Book this bundle</button>
            </div>
          </div>
          <div class="one-col border-bottom-gray ptb20">
            <div class="one-third columns">
              <h3 class="c-gray t-lyon line-clamp-x1">Couple Transformation Mastercourse</h3>
              <p class="c-gray smaller-txt line-clamp-x1">Express meeting (business related topics)</p>
            </div>
            <div class="one-third right-dir columns">
              <p class="c-gray">8 h / $26,000 MXN</p>
              <p class="c-bright-green smaller-txt">Available online</p>
            </div>
            <div class="one-third right-dir columns">
              <button class="btn-black btn-x1">Book this bundle</button>
            </div>
          </div>
        </div>

        <!-- philios -->
        <div id="tab-3" class="tab-content" style="display: none;">
          <div class="topic-card mb40">
            <a href="single-view.html">
              <div class="profile">
                <div class="profile-thumb" style="background-image: url('img/profile3.png');"></div>
                <div class="info">
                  <p><strong>Alejandro Ruiz</strong></p>
                  <p>Agent</p>
                  <p>16/10/2016</p>
                </div>
              </div>
              <div class="thumbnail" style="background-image: url('img/blog4.png');"></div>
              <div class="description">
                <div class="top">
                  <h3>Hypernormalisation</h3>
                </div>
                <div class="bottom">
                  <p><b>#film #culture</b></p>
                  <p>3 comments</p>
                </div>
              </div>
            </a>
            <div class="rating">
              <button type="button" name="button" class="vote-up">0</button>
              <button type="button" name="button" class="vote-down">0</button>
            </div>
          </div>

          <div class="topic-card mb40">
            <a href="single-view.html">
              <div class="profile">
                <div class="profile-thumb" style="background-image: url('img/profile4.png');"></div>
                <div class="info">
                  <p><strong>Maritza Rodriguez</strong></p>
                  <p>Agent</p>
                  <p>15/10/2016</p>
                </div>
              </div>
              <div class="thumbnail" style="background-image: url('img/blog3.png');"></div>
              <div class="description">
                <div class="top">
                  <h3>Quieres pase o tacos?</h3>
                </div>
                <div class="bottom">
                  <p><b>#coutre #gastronomy</b></p>
                  <p>1 comment</p>
                </div>
              </div>
            </a>
            <div class="rating">
              <button type="button" name="button" class="vote-up">0</button>
              <button type="button" name="button" class="vote-down">0</button>
            </div>
          </div>
          <div class="topic-card mb40">
            <a href="single-view.html">
              <div class="profile">
                <div class="profile-thumb" style="background-image: url('img/profile3.png');"></div>
                <div class="info">
                  <p><strong>Alejandro Ruiz</strong></p>
                  <p>Agent</p>
                  <p>16/10/2016</p>
                </div>
              </div>
              <div class="thumbnail" style="background-image: url('img/blog4.png');"></div>
              <div class="description">
                <div class="top">
                  <h3>Hypernormalisation</h3>
                </div>
                <div class="bottom">
                  <p><b>#film #culture</b></p>
                  <p>3 comments</p>
                </div>
              </div>
            </a>
            <div class="rating">
              <button type="button" name="button" class="vote-up">0</button>
              <button type="button" name="button" class="vote-down">0</button>
            </div>
          </div>

          <div class="topic-card mb40">
            <a href="single-view.html">
              <div class="profile">
                <div class="profile-thumb" style="background-image: url('img/profile4.png');"></div>
                <div class="info">
                  <p><strong>Maritza Rodriguez</strong></p>
                  <p>Agent</p>
                  <p>15/10/2016</p>
                </div>
              </div>
              <div class="thumbnail" style="background-image: url('img/blog3.png');"></div>
              <div class="description">
                <div class="top">
                  <h3>Quieres pase o tacos?</h3>
                </div>
                <div class="bottom">
                  <p><b>#coutre #gastronomy</b></p>
                  <p>1 comment</p>
                </div>
              </div>
            </a>
            <div class="rating">
              <button type="button" name="button" class="vote-up">0</button>
              <button type="button" name="button" class="vote-down">0</button>
            </div>
          </div>
          <div class="one-col mt40">
            <button class="btn-black btn-x2 c-center">See all of Nacho’s posts in Philios</button>
          </div>
        </div>

        <!-- events -->
        <div id="tab-4" class="tab-content" style="display: none;">
          <div class="one-col">
            <div class="one-third columns card-event">
              <div class="top" style="background-image: url('img/profile1.png')"></div>
              <div class="bottom">
                <h2 class="t-lyon mb20">Value Linking for Couples</h2>
                <p class="mb20">Increase communication, trust and understanding with your partner.</p>
                <p><strong>March 23, 2017</strong></p>
              </div>
            </div>
            <div class="one-third columns card-event">
              <div class="top" style="background-image: url('img/profile1.png')"></div>
              <div class="bottom">
                <h2 class="t-lyon mb20">Value Linking for Couples</h2>
                <p class="mb20">Increase communication, trust and understanding with your partner.</p>
                <p><strong>March 23, 2017</strong></p>
              </div>
            </div>
          </div>
          <div class="one-col mt40">
            <button class="btn-black btn-x2 c-center">See a full list of Events</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block SCRIPT %}
{{block.super}}
<script>


</script>
{% endblock %}
{% block LIBRARIES %}
  {{ block.super }}

{% endblock %}
