{% extends 'coach_clean_base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}
<form method="get" action="" id="filtering">
  <section>
     <div class="wrap mt60">
        <h1 class="t-lyon">Bookings</h1>
        <p class="c-gray">Book a session with one of the top Coaches inside our network.</p>
     </div>
  </section>
  <section>
     <div class="wrap mt40">
        {% include 'snippet/community_coaches_filter.html' %}
        {% include 'snippet/community_coaches_list.html' %}
     </div>
  </section>
</form>
{% endblock %}
{% block SCRIPT %}
{{block.super}}
<script>
  $(document).ready(function(){
    cleanFilters(this);

    var filtering_form = $(this).find('#filtering');

    var price_filter_input = $(this).find('.ui-slider-input');
    var price_min = $(price_filter_input).filter('#price-min');
    var price_max = $(price_filter_input).filter('#price-max');

    $(price_filter_input).change(function(e){
      var is_valid = true;
      var other = $(price_filter_input).not(this);
      var other_value = parseFloat($(other).val())
      var this_value = parseFloat($(this).val())

      if(isNaN(this_value)){
        $(this).val($(this).data('value'))
      }else{
        if(other_value == this_value){

        }else if(this_value > other_value && $(this).attr('id') == 'price-min'){
          is_valid = false;
        }else if(this_value < other_value && $(this).attr('id') == 'price-max'){
          is_valid = false;
        }

        if(is_valid){
          $("#slider-range").slider("values", [$(price_min).val(), $(price_max).val()]);
          $(this).data('value', $(this).val())
          $(filtering_form).submit();
        }else{
          $(this).val($(this).data('value'))
        }
      }
    });

    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 10000,
      values: [ {{min_price_filter|default:0}}, {{max_price_filter|default:10000}} ],
      slide: function(event, ui){
        $(price_min).val(ui.values[0])
        $(price_max).val(ui.values[1])
        $(filtering_form).submit();
      }
    });

    $(this).find('#length_filter').change(function(){
      $(filtering_form).submit();
    });

    $(this).find('.border-bottom-radio-input').click(function(){
      var check_input = $(this).find('input[type="checkbox"]');
      if($(check_input).is(':checked')){
        var check_sign = $(this).find('span.checked');
        $(check_input).prop('checked', false);
        $(check_sign).removeClass('checked').addClass('check');
      }else{
        var check_sign = $(this).find('span.check');
        $(check_input).prop('checked', true);
        $(check_sign).removeClass('check').addClass('checked');
      }
      $(filtering_form).submit();
    }).css('cursor', 'pointer');

  });

  function cleanFilters(obj){
    //$(obj).find('.ui-rangeslider-sliders').first().remove(); // Remove duplicated slider

  }

</script>
{% endblock %}
{% block LIBRARIES %}
  {{ block.super }}

{% endblock %}
