{% extends 'session_base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}
<form method="post">
  {% csrf_token %}
  {{form.coach}}
  <section>
    <div class="wrap">
      <h1 class="mb20">Edit Session Type</h1>
      <div class="one-col">
        <div class="heading-separator mb40">
          <div class="blue-cir"><div class="txt">1</div></div>
          <h2 class="t-lyonL c-gray">Session Details</h2>
        </div>
        <div class="one-col mb40">
          <label class="dark-label mb20">SESSION NAME</label>
          <input type="text" name="name" id="id_name" class="border-bottom-input two-col columns" placeholder="Add a descriptive name for your session"  value="{{ form.name.value|default:'' }}" required>
        </div>
        <div class="one-col mb40">
          <div class="two-third">
            <label class="dark-label mb20">SESSION LENGHT</label>
            <div class="two-col columns">
              <select class="select-gray-border-input" name="length_hours" id="id_length_hours" required>
                {% for value, label in form.length_hours.field.choices %}
                <option value="{{value}}" {% if value == form.length_hours.value %}selected{% endif %}>{{label}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="two-col columns">
              <select class="select-gray-border-input" name="length_minutes" id="id_length_minutes" required>
                {% for value, label in form.length_minutes.field.choices %}
                <option value="{{value}}" {% if value == form.length_minutes.value %}selected{% endif %}>{{label}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="one-third columns">
            <label class="dark-label mb20">SESSION PRICE (IN MXN)</label>
            <input type="text" class="border-bottom-input two-col columns" placeholder="$100.00" value="{{ form.price.value|default:'' }}" name="price" id="id_price" required>
          </div>
        </div>
        <div class="one-col mb40">
          <label class="dark-label mb20">DESCRIPTION</label>
          <input type="text" class="border-bottom-input two-col columns" placeholder="Describe this session type (in less than 80 characters)" name="description" id="id_description" value="{{ form.description.value|default:'' }}" required>
        </div>
        <div class="one-col mb40 blue-tags">
          <label class="dark-label mb20">CATEGORIES</label>
          <input type="text" class="border-bottom-input two-col columns"name="category" id="id_category" value="{{ form.category.value|default:'' }}" required>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="wrap">
      <div class="one-col">
        <div class="heading-separator mb40">
          <div class="blue-cir"><div class="txt">2</div></div>
          <h2 class="t-lyonL c-gray">Availability</h2>
        </div>
      </div>
      <div class="one-col mb40">
        <div class="one-third columns">
          <label class="dark-label mb20">ONLINE AVAILABILITY</label>
          <div class="border-bottom-radio-input">
            <div class="green-radio-input"><input type="radio" name="face_to_face" ind="id_face_to_face" {{form.face_to_face.value|yesno:'checked="checked",'}}><span class="check"></span></div>
            <p class="c-dark-purple">Face to Face</p>
          </div>
        </div>
        <div class="one-third columns">
          <label class="dark-label mb20">AVAILABLE AT WHICH VENUES</label>
          {{form.allow_on_venues}}
          {% for id, label in form.allow_on_venues.field.choices %}
          <div class="border-bottom-radio-input">
            <div class="green-radio-input"><input type="radio" name="venue" id="venue" value="{{id}}"><span class="check"></span></div>
            <p class="c-dark-purple">{{label}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="one-col mb40">
        <div class="one-third columns">
          <label class="dark-label mb20">GROUPS</label>
          <div class="border-bottom-radio-input">
            <div class="green-radio-input"><input type="radio" name="one_on_one" id="id_one_on_one" {{form.one_on_one.value|yesno:'checked="checked",'}}><span class="check"></span></div>
            <p class="c-dark-purple">One on one sessions</p>
          </div>
          <div class="border-bottom-radio-input">
            <div class="green-radio-input"><input type="radio" name="groups_allow" id="id_groups_allow" {{form.groups_allow.value|yesno:'checked="checked",'}}><span class="check"></span></div>
            <p class="c-dark-purple">Available for groups</p>
          </div>
        </div>
        <div class="one-third columns">
          <label class="dark-label mb20">PRICE PER PERSON (FOR GROUPS)</label>
          <input type="text" class="border-bottom-input two-col columns" placeholder="$0.00" name="person_price" id="id_person_price" value="{{ form.person_price.value|default:'' }}">
        </div>
        <div class="one-third columns">
          <label class="dark-label mb20">MAX CAPACITY (FOR GROUPS)</label>
          <input type="text" class="border-bottom-input two-col columns" placeholder="$0.00" name="max_capacity" id="id_max_capacity" value="{{ form.max_capacity.value|default:'' }}">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="wrap">
      <div class="one-col mb40 t-center">
        <h2 class="t-lyonL c-gray ">Ready to Go!</h2>
      </div>
      <div class="one-col gray-border-box t-center mb40">
        <button type="reset" class="btn-danger btn-x2 mr20">Discard Changes</button>
        <button type="submit" class="btn-aqua btn-x2">Save Session</button>
      </div>
    </div>
  </section>
</form>
{% endblock %}
{% block SCRIPT %}
{{block.super}}
<script>
  $(document).ready(function(){
    $('.border-bottom-radio-input').click(function(){
      var input = $(this).find('input[type="radio"]');
      $(input).prop('checked', !$(input).is(':checked'));
      if($(input).attr('id')=='venue'){
        var value = $(input).attr('value');
        var is_checked = $(input).is(':checked');
        $(allow_on_venues).find('option[value="' + value + '"]').prop('selected', is_checked);
      }
      if($(input).attr('id')=='id_one_on_one'){
      }
      if($(input).attr('id')=='id_groups_allow'){
        var is_checked = $(input).is(':checked');
        if(is_checked){
          $('#id_person_price , #id_max_capacity').val('').parents('.columns').removeClass('disable-events');
        }else{
          $('#id_person_price , #id_max_capacity').val('').parents('.columns').addClass('disable-events');
        }
      }
    }).css('cursor', 'pointer');
    var allow_on_venues = $('#id_allow_on_venues').hide();
    $(allow_on_venues).find('option:selected').each(function(){
      var value = $(this).attr('value');
      $('#venue[value="' + value + '"]').prop('checked', true);
    });
    $('#id_groups_allow').each(function(){
      var is_checked = $(this).is(':checked');
        if(is_checked){
          $('#id_person_price , #id_max_capacity').parents('.columns').removeClass('disable-events');
        }else{
          $('#id_person_price , #id_max_capacity').parents('.columns').addClass('disable-events');
        }
    });
  });
</script>
{% endblock %}
