{% extends 'session_base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}
<section>
  <div class="wrap mb40">
    <div class="heading-separator">
      <h2 class="t-lyonL c-gray">My Sessions</h2>
    </div>
  {% for service in session_list %}
    <div class="one-col border-bottom-gray ptb20">
      <div class="two-col">
        <a href="{% url 'coaches:edit_services' pk=service.pk %}">
          <h3 class="c-gray t-lyon">{{service.length}}</h3>
          <p class="c-gray smaller-txt">{{service.name}}</p>
        </a>
      </div>
      <div class="two-col right-dir">
        <p class="c-gray">{{service.price_label}}</p>
      {% if service.face_to_face %}
        <p class="c-bright-green smaller-txt">Available online</p>
      {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="wrap mb60">
    <a href="{% url 'coaches:add_services' %}">
      <button type="button" class="btn-black">Add New Sessions</button>
    </a>
  </div>
</section>


<section>
  <div class="wrap mb40">
    <div class="heading-separator">
      <h2 class="t-lyonL c-gray">My Bundles</h2>
    </div>
  {% for bundle in bundles %}
    <div class="one-col border-bottom-gray ptb20">
      <div class="two-col">
        <h3 class="c-gray t-lyon">Business Transformation for Entrepreneur</h3>
        <p class="c-gray smaller-txt">Special cycle for business owners (solo or groups)</p>
      </div>
      <div class="two-col right-dir">
        <p class="c-gray">30 min / $100 USD</p>
        <p class="c-bright-green smaller-txt">Available online</p>
      </div>
    </div>
  {% endfor %}
  </div>
  <div class="wrap mb60">
    <a href="{% url 'coaches:add_bundles' %}">
      <button class="btn-black">Add New Sessions</button>
    </a>
  </div>
	</section>
{% endblock %}
