{% extends 'coach_base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}
<form method="post">
  {% csrf_token %}
  <section>
    <div class="wrap">
      <div class="one-col">
        <div class="heading-separator mb20">
          <h2 class="t-lyonL c-gray">New Venue</h2>
        </div>
        {% for venue in venue_list %}
        <div class="one-col border-bottom-gray ptb20">
          <div class="two-col">
            <p>{{venue.name}}</p>
            <p><a href="#" class="c-gray">Edit</a></p>
          </div>
          <div class="two-col right-dir">
            <p>{{venue.address}}</p>
            <p><a href="{% url 'coaches:remove_venues' venue.pk %}" class="danger post_request">Delete</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section>
    <div class="wrap">
      <div class="one-col t-center mtb40">
        <a href = "{% url 'coaches:add_venues' %}">
          <button class="btn-aqua btn-x2">Add Venue</button>
        </a>
      </div>
    </div>
  </section>
</form>
{% endblock %}
{% block SCRIPT %}
{{block.super}}
<script>
  $(document).ready(function(){
    $(this).find('.post_request').click(function(event){
      event.preventDefault();
      $(this).parents('form').attr('action', $(this).attr('href')).submit();
    });
  });
</script>
{% endblock %}
