.image_upload_placeholder_filled:after{
    display: none;
}

.money_symbol{
    width: 10px;
    display:inline;
    float:left;
    height: 22px;
    width: 5%;
    text-align: right;
}

.money_amount{
    display:inline;
    float:left;
    height: 22px;
    width: 94%;
}

.money_amount > input{
    position: relative;
    width: 80%;
    padding-left: 10px;
    height: 22px;
}
