{% load static %}
{% load account %}


{% user_display user as user_display %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% block STYLE %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{#  <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
<style>
  input[type="email"],
  input[type="password"] {
    padding: 15px 10px;
    border-bottom: 1px solid #A1A1A1;
    width: 100%;
  }
</style>
{% endblock %}
	<title>FRONESIS | Philios®</title>
</head>
<body class="{{BODY_CLASS|default:''}}">
	<header>
		<div class="wrap">
			<div class="logo" id="triggerStMenu">
				<img src="{% static 'img/f-logo.png' %}" alt="logo">
			</div>
			<div class="st-menu">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Philios</a></li>
        {% if user_display|length > 0 %}
          <li><a href="{% url 'my_events' %}">My Events</a></li>
        {% endif %}
					<li><a href="/events/">Events</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="#">Bookings</a></li>
        {% if user_display|length == 0 %}
          <li><a href="{% url 'account_login' %}">Log-In</a></li>
        {% else %}
          <li><a href="{% url 'account_logout' %}">Log-Out</a></li>
        {% endif %}
				</ul>
			</div>
		</div>
	</header>

	<div class="st-menu hidden-menu">
		<div class="wrap">
			<div class="table-cell">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="single-view.html">Philios</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="booking.html">Bookings</a></li>
				</ul>
				<p class="smaller-txt mt20 c-light-gray">© Fronesis 2015. All rights reserved.</p>
			</div>
			<div class="close-btn smaller-txt c-white" id="closeBtn">Close [x]</div>
		</div>
	</div>
{% block CONTENT %}
{% endblock %}
{% block LIBRARIES %}
	<!-- LIBRARIES -->
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/jquery.tagsinput.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
{% block SCRIPT %}
{% endblock %}
</body>
</html>
