{% extends 'base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}

<section class="mt40">
  <div class="wrap">
    <div class="booking-nav">
      <div class="profile">
        <div class="img" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <p>Nacho Landa</p>
      </div>
      <div class="nav">
        <ul>
          <li><a href="#nav1" class="triggerNav">Appointments</a></li>
          <li><a href="#">Coach Settings</a></li>
          <li><a href="#">Billing</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
        </ul>
      </div>
    </div>
    <div class="booking-nav-hidden display">
      <ul>
        <li class="active"><a href="{% url 'my_events' %}">My Events</a></li>
        <li><a href="#">Events Settings</a></li>
        <li><a href="{% url 'my_events_create' %}">Create new Event</a></li>
      </ul>
    </div>
  </div>
</section>

{% block USER_VIEW %}
{% endblock %}

{% endblock %}
