{% extends 'base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}

<section class="mt40">
  <div class="wrap">
    <div class="booking-nav">
      <div class="profile">
      {% if user.profile.avatar %}
        <div class="img" style="background-image: url('{{ user.profile.avatar.crop.128x128 }}')"></div>
      {% else %}
        <div class="img" style="background-image: url('{{ user.profile.profile_image_url|default:'http://i.pravatar.cc/128?u=fake@pravatar.com' }}')"></div>
      {% endif %}
        <p>{{ user.get_full_name|default:user.username }}</p>
      </div>
      <div class="nav">
        <ul>
          <li><a href="#nav1" class="triggerNav">Appointments</a></li>
          <li><a href="#">Coach Settings</a></li>
          <li><a href="#">Billing</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
        </ul>
      </div>
    </div>
    <div class="booking-nav-hidden display">
      <ul>
        <li class="active"><a href="{% url 'my_events' %}">My Events</a></li>
        {#<li><a href="#">Events Settings</a></li>#}
        <li><a href="{% url 'my_events_create' %}">Create new Event</a></li>
      </ul>
    </div>
  </div>
</section>

{% block USER_VIEW %}
{% endblock %}

{% endblock %}
