<div class="one-third columns">
    <div class="profile-square">
       <div class="profile-square">
          <div class="img" style="background-image: url('img/profile1.png')">
             <div class="labels">
                <div class="c-white smaller-txt bg-wine"></div>
                <div class="smaller-txt bg-white t-lyonL c-black">Coach</div>
             </div>
          </div>
          <div class="txt">
             <h4 class="c-black t-lyon">{{coach.}}</h4>
             <p class="c-light-gray">Human Behavior</p>
             <p class="c-light-gray">Specialist &amp; Comedian</p>
          </div>
       </div>
    </div>
 </div>
