<div id="tab-3" class="tab-content" style="display: none;">
{% for post in post_list %}
   <div class="topic-card mb40">
    <a href="/philios-web/Post/{{post.pk}}">
      <div class="profile">
        <div class="profile-thumb" style="background-image: url('{{post.avatar}}');"></div>
        <div class="info">
          <p><strong>{{post.user.get_full_name}}</strong></p>
          {{ post.is_from_coach|yesno:"<p>Coach</p>,"|safe }}
          <p>{{post.publish_date|date:'j/m/Y'}}</p>
        </div>
      </div>
      <div class="thumbnail" style="background-image: url('{{post.thumbnail}}');"></div>
      <div class="description">
        <div class="top">
          <h3>{{post.title}}</h3>
        </div>
        <div class="bottom">
          <p><b>{% for t in post.get_tags_list %}{{t}}{% endfor %}</b></p>
          <p>{{post.get_comments_count}} comments</p>
        </div>
      </div>
    </a>
    <div class="rating">
      <button type="button" name="button" class="vote-up">{{post.up_rating_count}}</button>
      <button type="button" name="button" class="vote-down">{{post.down_rating_count}}</button>
    </div>
  </div>
  {% empty %}
      <div class="one-column" style="text-align: center;">
        <h2>
          No Philios' Post
        </h2>
      </div>
{% endfor %}
</div>
