 <div class="one-col mb20">
    <p class="dark-label mb20"><strong>AVAILABLE SESSIONS</strong></p>
    <div class="one-col">
       <div class="border-bottom-radio-input">
          <div class="green-radio-input">
             <div class=" ui-checkbox"><input type="checkbox"></div>
             <span class="check"></span>
          </div>
          <p class="c-dark-purple">Face to Face</p>
       </div>
    </div>
    <div class="one-col mb20">
       <div class="border-bottom-radio-input">
          <div class="green-radio-input">
             <div class=" ui-checkbox"><input type="checkbox"></div>
             <span class="check"></span>
          </div>
          <p class="c-dark-purple">Online Call</p>
       </div>
    </div>
 </div>
