 <div class="one-col mb20">
    <p class="dark-label mb20"><strong>AVAILABLE SESSIONS</strong></p>
    <div class="one-col">
       <div class="border-bottom-radio-input">
          <div class="green-radio-input">
             <div class=" ui-checkbox">
               <input type="checkbox" id="face2face" name="face2face" {{face2face|yesno:'checked,'}}>
             </div>
             <span class="{{face2face|yesno:'checked,check'}}"></span>
          </div>
          <p class="c-dark-purple">Face to Face</p>
       </div>
    </div>
    <div class="one-col mb20">
       <div class="border-bottom-radio-input">
          <div class="green-radio-input">
             <div class=" ui-checkbox">
               <input type="checkbox" id="online" name="online" {{online|yesno:'checked,'}}>
             </div>
             <span class="{{online|yesno:'checked,check'}}"></span>
          </div>
          <p class="c-dark-purple">Online Call</p>
       </div>
    </div>
 </div>
