{% extends 'user-view.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}

<form method="post" enctype="multipart/form-data">
  {{ form.errors }}
  {% csrf_token %}
  <section style="display: inline-block;">
    <div class="wrap">
      <div class="one-col">
        <div class="heading-separator mb40">
          <div class="blue-cir"><div class="txt"></div></div>
          <h2 class="t-lyonL c-gray">Update Profile</h2>
        </div>
        <div class="one-col mb40">
          <div class="one-col columns">
            <label for="{{ form.email.id_for_label }}" class="dark-label mb20">{{ form.email.label|upper}}</label>
            <input type="text" id = "{{ form.email.id_for_label }}" name = "{{form.email.html_name}}" value = "{{form.email.value|default:''}}" class="border-bottom-input two-col columns" placeholder="Email" required>
          </div>
        </div>
        <div class="one-col mb40">
          <div class="two-col columns">
            <label for="{{ form.first_name.id_for_label }}" class="dark-label mb20">{{ form.first_name.label|upper}}</label>
            <input type="text" id = "{{ form.first_name.id_for_label }}" name = "{{form.first_name.html_name}}" value = "{{form.first_name.value|default:''}}" class="border-bottom-input two-col columns" placeholder="First Name" required>
          </div>
          <div class="two-col columns">
            <label for="{{ form.last_name.id_for_label }}" class="dark-label mb20">{{ form.last_name.label|upper}}</label>
            <input type="text" id = "{{ form.last_name.id_for_label }}" name = "{{form.last_name.html_name}}" value = "{{form.last_name.value|default:''}}" class="border-bottom-input two-col columns" placeholder="Last Name" required>
          </div>
        </div>
        <div class="one-col mb40">
          <div class="two-col columns">
            <label for="{{ password.new_password1.id_for_label }}" class="dark-label mb20">{{ password.new_password1.label|upper}}</label>
            <input type="text" id = "{{ password.new_password1.id_for_label }}" name = "{{password.new_password1.html_name}}" value = "{{password.new_password1.value|default:''}}" class="border-bottom-input two-col columns" placeholder="Password">
          </div>
          <div class="two-col columns">
            <label for="{{ password.new_password2.id_for_label }}" class="dark-label mb20">{{ password.new_password2.label|upper}}</label>
            <input type="text" id = "{{ password.new_password2.id_for_label }}" name = "{{password.new_password2.html_name}}" value = "{{password.new_password2.value|default:''}}" class="border-bottom-input two-col columns" placeholder="Password">
          </div>
        </div>
        <div class="one-col">
          <div class="one-col">
            <input type="hidden" id = "{{ avatar.user.id_for_label }}" name = "{{avatar.user.html_name}}" value = "{{avatar.user.value|default:''}}">
            <label for="{{ avatar.avatar.id_for_label }}" class="dark-label mb20">{{ avatar.avatar.label|upper }}</label>
            <button class="upload-img" name="button">
              <img id="output" width="100%" height="100%" {% if mode == 'update' %} src="{{ MEDIA_URL }}{{ avatar.avatar.value|default:'' }}" {% else %}style="display: none;"{% endif %}/>
            </button>
            <input id = "{{ avatar.avatar.id_for_label }}" name = "{{ avatar.avatar.html_name }}" type="file" accept="image/*" style = "display:none;">
            <p class="smaller-txt">Ideal image size is 1280 x 1080, conisder file size should be under 1MB</p>
          </div>
        </div>
        <div class="one-col gray-border-box t-center mb40">
          <button class="btn-black btn-x2 mr20" name="button" type="submit">Save</button>
        </div>
      </div>
    </div>
  </section>
</form>



{% endblock %}

{% block LIBRARIES %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      var cover = $('#{{ avatar.avatar.id_for_label }}');
      var description = $('#{{ form.description.id_for_label }}');
      var cover_trigger = $('.upload-img');
      var cover_trigger_img = $('.upload-img::after');


      $(cover_trigger).click(function(event){
        event.preventDefault();
        $(cover).click();
      });

      $(cover).change(function(){
        preview_image(this, cover_trigger);
      });

      var preview_image = function(input, target) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $(target).find('img#output').attr('src', e.target.result).css({display: 'block'}).append(":-webkit-any(body):after {content: none;}");;
              $(target).addClass('image_upload_placeholder_filled');
          }

          reader.readAsDataURL(input.files[0]);
      }
  }

    });


  </script>
{% endblock %}
