{% extends 'user-view.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}

<section>
  <div class="wrap pb60">
    <h2 class="c-gray t-lyon mb40">Events Created by You</h2>
    <div class="one-col">
      <div class="one-third columns card-event new-event">
        <div class="top"></div>
        <div class="bottom">
          <h2 class="t-lyon">Create a New Event</h2>
        </div>
      </div>
      <div class="one-third columns card-event">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
      <div class="one-third columns card-event">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
      <div class="one-third columns card-event">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap pb60">
    <h2 class="c-gray t-lyon mb40">Events You are Attending To</h2>
    <div class="one-col">
      <div class="one-third columns card-event">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
      <div class="one-third columns card-event">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap pb60">
    <h2 class="c-gray t-lyon mb40">Past Events</h2>
    <div class="one-col">
      <div class="one-third columns card-event">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
      <div class="one-third columns card-event">
        <div class="top" style="background-image: url('{% static 'img/profile1.png' %}')"></div>
        <div class="bottom">
          <h2 class="t-lyon mb20">Value Linking for Couples</h2>
          <p class="mb20">Increase communication, trust and understanding with your partner.</p>
          <p><strong>March 23, 2017</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrap pb100">
    <div class="one-col gray-border-box">
      <button class="btn-black c-center">Seel all Upcoming Events</button>
    </div>
  </div>
</section>

{% endblock %}
