{% extends 'base.html' %}
{% load static %}


{% block CONTENT %}
 {{ block.super }}

<section>
  <div class="wrap mt60">
    <div class="three-col columns mb40">
      <div class="event-description mr100 mb20">
        <div class="featured-img"><img src="{{ object.cover_url }}" alt=""></div>
        <div class="content-txt">
          <h1 class="t-lyon">{{ object.name|title }} - {{ object.subtitle|title }}</h1>
          <div>
            {{ object.description|safe }}
          </div>
        </div>
      </div>
      <div class="black-border-box mb40 mr100">
        <p>Invite your friends!</p>
        <div class="display-inline">
          <button type="button" name="button" class="social-btn-tw c-tw">TW</button>
          <button type="button" name="button" class="social-btn-fb c-fb">FB</button>
        </div>
      </div>
    </div>
    <div class="one-fourth columns mb40">
      <div class="one-col mb40">
        <p class="c-aqua mb20">TICKETS</p>
        <p class="mb20">From <strong>${{ object.min_ticket_price|default:'0.00' }}MXN</strong>  to <strong>${{ object.max_ticket_price|default:'0.00' }}MXN</strong></p>
        <button class="btn-aqua btn-x2">Get Tickets</button>
      </div>
      <div class="one-col mb40">
        <p class="c-aqua mb20">DATE AND TIME</p>
        <p class="mb20"> <strong>{{ object.begins_date|date:'F d, Y' }}  {{ object.begins_time|date:'H:i A' }}</strong></p>
      </div>
      <div class="one-col mb40">
        <p class="c-aqua mb20">DURATION</p>
        <p class="mb20"> <strong>{{ object.begins_timestamp|timesince:object.ends_timestamp }}</strong></p>
      </div>
      <div class="one-col mb40">
        <p class="c-aqua mb20">LOCATION</p>
        <p>
          {{ object.venue }}
          <br>
          {{ object.address }}
          <br>
          {{ object.neighborhood }}
          <br>
          {{ object.city }}
          <br>
          {{ object.postal_code }}
        </p>
      </div>
      <div class="one-col mb40">
        <p class="c-aqua mb20">ATTENDING</p>
        <ul class="display-inline mrb10 mb20">
    {% with assistants=object.assistants %}
      {% for assistant in object.assistants %}
        {% if forloop.counter < 10 %}
          <li>
            <div class="profile-x1" style="background-image: url('{% static 'img/profile3.png' %}')"></div>
          </li>
        {% endif %}
      {% endfor %}
        </ul>
        <button class="btn-txt-gray" name="button">See all {{assistants|length}}</button>
    {% endwith %}
      </div>
      <div class="one-col mb40">
        <p class="c-aqua mb20">ORGANIZER</p>
        <div class="display-inline mb20">
          <div class="profile-x1 mr20" style="background-image: url('{% static 'img/profile3.png' %}')"></div>
          <div>
            <p><strong>{{ object.organizer_name|title }}</strong></p>
            <p>Agent</p>
          </div>
        </div>
        <button class="btn-black btn-x2">Contact the Organizer</button>
      </div>
    </div>
  </div>
</section>

{% endblock %}
